* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-weight: 500;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(47, 52, 63, 0.875);
    border-bottom: 3px solid rgba(47, 52, 63, 0.725);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    padding: 0 10px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active{
    color: #E7B9FF;
    box-shadow: inset 0 -3px #E7B9FF;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.empty:not(.active) {
    color: #757575;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#pulseaudio,
#tray,
#idle_inhibitor,
#mode {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #E7B9FF;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    background-color: #2F343F;
    color: #a37800;
    box-shadow: inset 0 -3px #a37800;
    margin: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #424242;
    color: #f1c40f;
    box-shadow: inset 0 -3px #f1c40f;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
    box-shadow: inset 0 -3px #2a5c45;
}

#image {
  padding: 0 10px;
}

#custom-hypr-logo {
  color: #b388ff;
  font-size: 20px;
  padding: 0 10px;
}

#custom-hypr-layout {
  padding: 0 10px;
}

#tray {
    background-color: #2F343F;
    margin: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

